* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

#mainContent {
	text-align: center;
}

#search {
	text-align: center;
	display: none;
	position: fixed;
	width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
	overflow: auto;
}

.resultName img, .resultName p {
	cursor: pointer;
}

#controls {
	margin: 0 auto;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#next, #restart {
	cursor: pointer;
}

#ytVideo {
	display: inline-block;
	width: 640px;
	height: 360px;
	border: 1px solid black;
	text-align: center;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ytVideo p {
	
}

#currPlayImage {
	width: 480px;
	height: 360px;
}

#queue {
	border: 1px solid black;
	width: 640px;
	margin: 0 auto;
	height: 92px;
	text-align: center;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
	overflow: hidden;
}

#queueImages {
	height: 92px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}

.queueImg {
	padding: 0 2.5px;
}

.addVideo {
	display: inline-block;
}