* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url("/assets/images/trianglify.png");
	background-repeat: no-repeat;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Questrial', sans-serif;
}

#mainContent {
	text-align: center;
}

#login {
	margin-top: 100px;
}

#login h1 {
	font-size: 3em;
	font-family: 'Carrois Gothic SC', sans-serif;
}

#description {
	margin-top: 25px;
}

#error {
	color: red;
	margin-bottom: 10px;
}

#formHeader {
	margin-top: 75px;
	margin-bottom: 10px;
}

form input {
	font-family: 'Questrial', sans-serif;
}

input[type="text"] {
	border: none;
}

#login label, #login input {
	margin-left: 2.5px;
	margin-right: 2.5px;
}

#upgradeAccountNav {
	text-align: right;
  padding-right: 50px;
  padding-top: 20px;
}

#upgradeAccountNav img {
	cursor: pointer;
}

#title {
	font-family: 'Carrois Gothic SC', sans-serif;
}

#roomName, #password {
	margin-bottom: 25px;
	height: 30px;
}

#search {
	text-align: center;
	display: none;
	position: fixed;
	width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
	overflow: auto;
	background-image: url("/assets/images/trianglify.png");
}

nav {
	margin-top: 25px;
	font-size: 1.5em;
}

.button {
	transition: 0.5s;
	background-color: #BEEB9F;
	text-decoration: none;
  border: 3px solid;
  padding: 5px;
	color: inherit;
}

.button:hover {
	background-color: #ff8238;
	transition: 0.5s;
}

.resultName {
	cursor: pointer;
	background-color: #BEEB9F;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
	width: 600px;
	margin: 10px auto;
	border: 3px solid black;
  padding: 5px;
}

.songResultTitle {
	display: inline-block;
	width: 320px;
	text-align: left;
}

.songResultTitle p{
	margin-left: 25px;
}

.confirmAdded {
	display: none;
	color: darkgreen;
	font-weight: bold;
	margin-top: 5px;
}

#ytTitle {
	margin-bottom: 7px;
}

#controls {
	margin: 0 auto;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#next, #restart {
	cursor: pointer;
	margin: 0 10px;
}

#ytVideo {
	display: inline-block;
	background-color: #BEEB9F;
	width: 640px;
	height: 360px;
	border: 1px solid black;
	text-align: center;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ytVideo p {
	
}

#currPlayImage {
	width: 480px;
	height: 360px;
}

#queue {
	border: 1px solid black;
	background-color: #BEEB9F;
	width: 640px;
	margin: 0 auto;
	height: 92px;
	text-align: center;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
}

#queueImages {
	height: 90px;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: auto;
}

.queueImg {
	padding: 0 2.5px;
}

.addVideo {
	display: inline-block;
	margin-top: 20px;
}

#songName {
	width: 200px;
	height: 30px;
}

#videoSearch {
	margin-top: 5px;
}

#videoSearch label, #videoSearch input {
	margin: 0 2.5px;
}

#searchResults {
	margin-top: 25px;
}

#searchResults ul {
	margin-top: 15px;
}

#partyUp {
	margin-bottom: 25px;
}

#partyup button {
	margin-top: 10px;
}

#paidAccount {
	text-align: center;
	display: none;
	position: fixed;
	width: 100%;
  height: 100%;
  top: 0;
  background-color: white;
	overflow: auto;
	background-image: url("/assets/images/trianglify.png");
}

#upgradeAccountContent {
	margin-top: 100px;
}

#upgradeAccountContent p {
	margin-top: 25px;
}