<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Party Up</title>
		<link rel="shortcut icon" href="/assets/images/favicon.ico" />
		<link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Questrial" rel="stylesheet">
		<script async src="https://www.youtube.com/player_api"></script>
		<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  	<script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/assets/css/stylesheet.css" />
	</head>
	<body>
		<div id="mainContent"></div>
		<div id="search"></div>
		<div id="paidAccount"></div>
		<script src="/assets/babel/bundle.js"></script>
	</body>
</html>