<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Party Up</title>
		<!--<link rel="shortcut icon" href="/assets/images/favicon.ico" /> -->
		<script async src="https://www.youtube.com/player_api"></script>
		<script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  	<script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  	<script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/assets/css/stylesheet.css" />
	</head>
	<body>
		<div id="mainContent"></div>
		<div id="search"></div>
		<script src="/assets/babel/bundle.js"></script>
	</body>
</html>